$border-color: rgb(122, 122, 122);
$body-background-color: rgb(19, 19, 19);
$primery-lighter-color: rgb(26, 26, 26);
$primery-darker-color: rgb(10, 10, 10);
$primery-color: white;
$accent-color: maroon;
$black: black;
$text-color: white;
$text-muted-color: rgb(138, 138, 138);
